<h1>Galpões & Estoque</h1>


<h2>Galpões</h2>
<%@warehouses.each do |warehouse|%>
  <%=warehouse.name%>
  Código: <%=warehouse.code%>
  Cidade: <%=warehouse.city%>
  Área: <%=warehouse.area%> m²
<% end %>